---
import Select from "./Select.astro";

const ageGroups = [
	{ value: 1, label: "18-29" },
	{ value: 2, label: "30-49" },
	{ value: 3, label: "50-69" },
	{ value: 4, label: "70 and over" },
];

const religiosity = [
	{ value: 1, label: "Very religious, Haredi" },
	{ value: 2, label: "Religious" },
	{ value: 3, label: "Traditional religious" },
	{ value: 4, label: "Traditional, not so religious" },
	{ value: 5, label: "Non-religious, secular" },
];

const sectors = [
	{ value: 1, label: "Jewish" },
	{ value: 2, label: "Arab" },
];

const sexOptions = [
	{ value: 1, label: "Male" },
	{ value: 2, label: "Female" },
];

const educationLevels = [
	{ value: 1, label: "Up to high school" },
	{ value: 2, label: "Partial or full academic degree - BA" },
	{ value: 3, label: "Full academic degree - MA or higher" },
];

const ethnicities = [
	{ value: 1, label: "Ashkenazi" },
	{ value: 2, label: "Sephardic" },
	{ value: 3, label: "Mizrachi" },
	{ value: 99, label: "Other" },
];
---

<form class="flex flex-col" id="predictionForm">
	<Select id="sector" name="sector" label="Sector" options={sectors} />

	<Select
		id="ethnicity"
		name="ethnicity"
		label="Ethnicity"
		options={ethnicities}
	/>

	<Select id="sex" name="sex" label="Sex" options={sexOptions} />

	<Select
		id="ageGroup"
		name="ageGroup"
		label="Age"
		options={ageGroups}
	/>

	<Select
		id="educationLevel"
		name="educationLevel"
		label="Education"
		options={educationLevels}
	/>

	<Select
		id="religiosity"
		name="religiosity"
		label="Religiosity"
		options={religiosity}
	/>

	<Select
		id="deprivationScale"
		name="deprivationScale"
		label="Socio-Economic Scale"
		options={[
			{ value: 0, label: "Most Deprived" },
			{ value: 1, label: "1" },
			{ value: 2, label: "2" },
			{ value: 3, label: "3" },
			{ value: 4, label: "4" },
			{ value: 5, label: "Least Deprived" },
		]}
	/>
</form>

<script>
	const sectorSelect = document.getElementById('sector') as HTMLSelectElement;
	const ethnicitySelect = document.getElementById('ethnicity') as HTMLSelectElement;

	const arabOption = { value: '0', label: 'Arab' };
	const ethnicities = [
		{ value: '1', label: 'Ashkenazi' },
		{ value: '2', label: 'Sephardic' },
		{ value: '3', label: 'Mizrachi' },
		{ value: '99', label: 'Other' },
	];

	function updateEthnicityOptions(): void {
		if (!sectorSelect || !ethnicitySelect) return;

		const selectedSector = sectorSelect.value;

		if (selectedSector === '2') { 
			ethnicitySelect.innerHTML = '';
			ethnicitySelect.append(new Option(arabOption.label, arabOption.value));
			ethnicitySelect.disabled = true;
		} else {
			ethnicitySelect.innerHTML = '';
			ethnicities.forEach(option => {
				ethnicitySelect.append(new Option(option.label, option.value));
			});
			ethnicitySelect.disabled = false;
		}
	}

	sectorSelect.addEventListener('change', updateEthnicityOptions);
	updateEthnicityOptions();
</script>
